# SMTP — Serveur VPS
SMTP_HOST=mail.mmamaritime.com
SMTP_PORT=587
SMTP_SECURE=false
SMTP_USER=contact@mmamaritime.com
SMTP_PASS=votre_mot_de_passe_email
SMTP_FROM=contact@mmamaritime.com
SMTP_TO=contact@mmamaritime.com

# Site URL
NEXT_PUBLIC_SITE_URL=https://mmamaritime.com
